<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="moe.star39.whatsapp_stickers_exporter">

    <application>
        <provider
            android:name=".StickerContentProvider"
            android:authorities="${applicationId}.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
</manifest>
